@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 8, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
.container {
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 10px;
  max-width: 1050px;
}

section {
  background: #fff;
}

.title {
  text-transform: uppercase;
}

.tools__borard {
  width: 210px;
  padding: 15px 22px 0;
}

.row .options {
  list-style: none;
  margin: 10px 0 0 5px;
}

.row .options .option {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-bottom: 10px;
}

.option:is(:hover.active)img {
  filter: invert(17%) saturate(300%) hue-rotate(100%) contrast(100%);
}

.option :where(span, label) {
  color: #5a6168;
  cursor: pointer;
  padding-left: 10px;
}

.option:is(:hover, .active) :where(span, label) {
  color: #4a9bf7;
}

.option #fill-color {
  cursor: pointer;
  height: 14px;
  width: 14px;
}

#fill-color:checked ~ label {
  color: #4a9bf7;
}
.option #size-slider {
  width: 100%;
  height: 5px;
  margin-top: 10px;
}

.colors .options {
  display: flex;
  justify-content: space-between;
}

.colors .option {
  height: 20px;
  width: 20px;
  border-radius: 50px;
  margin-top: 3px;
  position: relative;
}

.colors .option:nth-child(1) {
  background-color: white;
  border: 1px solid #bfbfbf;
}

.colors .option:nth-child(2) {
  background-color: black;
  border: 1px solid #bfbfbf;
}

.colors .option:nth-child(3) {
  background-color: red;
  border: 1px solid #bfbfbf;
}

.colors .option:nth-child(4) {
  background-color: green;
  border: 1px solid #bfbfbf;
}

.colors .option:nth-child(5) {
  background-color: #4a9bf7;
  border: 1px solid #bfbfbf;
}

.colors .options .selected::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 12px;
  width: 12px;
  background: inherit;
  border-radius: inherit;
  border: 2px solid white;
  transform: translate(-50%, -50%);
}

.colors .option:first-child.selected::before {
  background-color: #ccc;
}

.option #color-picker {
  opacity: 0;
  cursor: pointer;
}

.buttons button {
  width: 100%;
  color: white;
  border: none;
  outline: none;
  padding: 11px 0;
  font-size: 0.9rem;
  margin-bottom: 13px;
  background: none;
  border-radius: 4px;
  cursor: pointer;
}

.buttons .clear-canvas {
  margin-top: 10px;
  color: #6c757d;
  border: 1px solid #6c757d;
  transition: all 0.3s ease;
}
.clear-canvas:hover {
  color: white;
  background-color: #6c757d;
}
.buttons .save-img {
  background: #4a98f7;
  border: 1px solid #4a98f7;
}

.drax__board {
  flex: 1;
  overflow: hidden;
}
.drax__board canvas {
  width: 100%;
  height: 100%;
}
